<div class="sheet-section sheet-section-Kampfwerte">

		<li class="combat-skill attack flexrow">
				<button class="attack-id" type="roll" name="AT"> <span>AT</span></button>
				<input type="number" style="width: 4em" name="data.combat.AT" value="{{data.combat.AT}}">
		</li>		
		<li class="combat-skill parry flexrow">
				<button class="parry-id" type="roll" name="PA"> <span>PA</span></button>
				<input type="number" style="width: 4em" name="data.combat.PA" value="{{data.combat.PA}}">
		</li>		
		<li class="combat hitpoints flexrow">
				<button class="hitpoints-id" type="roll" name="TP"> <span>TP</span></button>
				<input type="text" style="width: 4em" name="data.combat.TP" value="{{data.combat.TP}}">
		</li>	
		<li class="combat initiative flexrow">
				<button class="initiative-id" type="roll" name="INI"> <span>INI</span></button>
				<input type="number" style="width: 4em" name="data.combat.INI" value="{{data.combat.INI}}">
		</li>	
		<li class="combat-skill dodge flexrow">
				<button class="dodge-id" type="roll" name="dodge"> <span>Ausweichen</span></button>
				<input type="number" style="width: 4em" name="data.combat.dodge" value="{{data.combat.dodge}}">
		</li>
		<li class="combat armor flexrow">
				<button class="armor-id" type="roll" name="RS"> <span>RS</span></button>
				<input type="number" style="width: 4em" name="data.combat.RS" value="{{data.combat.RS}}">
		</li>
		<li class="combat handicap flexrow">
				<button class="handicap-id" type="roll" name="BE"> <span>BE</span></button>
				<input type="number" style="width: 4em" name="data.combat.BE" value="{{data.combat.BE}}">
		</li>
</div>