<div class="sheet-section sheet-section-Gaben">
		<!--<select namer20="attr_gm_roll_opt" class="sheet-gm-roll-selector">
			<option valuer20=" ">Offen würfeln</option>
			<option valuer20="/w GM ">Nur zu Meister würfeln</option>
		</select>-->

		<table>
			<tr>
				<th style="width: 23em">Gabe + Zusatz/Eigene Gabe</th>
				<th style="width: 15.25em;">Eigenschaften</th>
				<th style="width: 3.25em;">TaW</th>
				<th style="width: 3em;">Probe</th>
			</tr>
		</table>
		<fieldset class="repeating_Gaben">
			<span style="display: inline-block; width: 23em">
				<!--<select namer20="attr_Name_Gabe" class="atype" style="width: 10em;">
					<option valuer20="empathie">Empathie</option>
					<option valuer20="gefahreninstinkt">Gefahreninstinkt</option>
					<option valuer20="geraeuschhexerei">Geräuschhexerei</option>
					<option valuer20="kraefteschub/talentschub">Kräfteschub/Talentschub</option>
					<option valuer20="magiegespuer">Magiegespür</option>
					<option valuer20="prophezeien">Prophezeien</option>
					<option valuer20="tierempathie">Tierempathie</option>
					<option valuer20="zwergennase">Zwergennase</option>
					<option valuer20="nothing" selected>Eigene</option>
				</select>-->
				<input type="text" namer20="attr_Name_Gabe_Zusatz" style="width: 10em;"/>
			</span><span style="display: inline-block; width: 15.25em">
				<!--<select namer20="attr_Eigenschaft1" class="sheet-talent-eigenschaft">
					<option valuer20="nothing">---</option>
					<option valuer20="mu">MU</option>
					<option valuer20="kl">KL</option>
					<option valuer20="in">IN</option>
					<option valuer20="ch">CH</option>
					<option valuer20="ff">FF</option>
					<option valuer20="ge">GE</option>
					<option valuer20="ko">KO</option>
					<option valuer20="kk">KK</option>
				</select>-->
				<!--<select namer20="attr_Eigenschaft2" class="sheet-talent-eigenschaft">
					<option valuer20="nothing">---</option>
					<option valuer20="mu">MU</option>
					<option valuer20="kl">KL</option>
					<option valuer20="in">IN</option>
					<option valuer20="ch">CH</option>
					<option valuer20="ff">FF</option>
					<option valuer20="ge">GE</option>
					<option valuer20="ko">KO</option>
					<option valuer20="kk">KK</option>
				</select>-->
				<!--<select namer20="attr_Eigenschaft3" class="sheet-talent-eigenschaft">
					<option valuer20="nothing">---</option>
					<option valuer20="mu">MU</option>
					<option valuer20="kl">KL</option>
					<option valuer20="in">IN</option>
					<option valuer20="ch">CH</option>
					<option valuer20="ff">FF</option>
					<option valuer20="ge">GE</option>
					<option valuer20="ko">KO</option>
					<option valuer20="kk">KK</option>
				</select>-->
			</span><span style="display: inline-block; width: 3.25em">
				<input type="number" namer20="attr_TaW" style="width: 3em;" valuer20="3">
				<input type="hidden" namer20="attr_hiddenEigenschaft1" valuer20="0">
				<input type="hidden" namer20="attr_hiddenEigenschaft2" valuer20="0">
				<input type="hidden" namer20="attr_hiddenEigenschaft3" valuer20="0">
				<input type="hidden" namer20="attr_Name_Gabe_Anzeige" valuer20="Eigene Gabe">
			</span><span style="display: inline-block; width: 3em">
			<button type="roll" valuer20="ROLL_TEMPLATE"></button>-->
			</span>
		</fieldset>
	</div>